*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Fonts */
  --title-font: 'Raleway', sans-serif;
  --p-font: 'Open Sans Condensed', sans-serif;
  /* Title Bar Height */
  --titlebar-height: 80px;
  /* Galiano Color Code */
  --primary-color: #446A40;
  --secondary-color: #24968D;
  --third-color: #CB7728;
  --text-color: #000000;
  --tertiary-1-color: #CFDCA6;
  --tertiary-2-color: #53C2BC;
  --base-color: #ffffff;

}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  overscroll-behavior: none;
}

/* P5 Settings */
canvas {
  display: block;
}

#map-main{
  position: fixed;
}


/* Pin Settings */
.pin{
  /* I don't know why it was set to this   */
  /* overflow: hidden; */
}

.pin-container{
  width: 100px;
  height: 100px;
  display: flex;
  place-content: center;
  align-items: flex-end;
  pointer-events: none;
}

.pin span{
 color:#b4e773;
 padding: 2px 0px 2px 0px;
 margin: 0px;
/* New way to center pins and be able to adjust their size */
 display: flex;
 /* font size is adjustable now */
 font-size: 2.5em;
 padding-bottom: 50%;
 z-index: 2;
}

.pin i{
  cursor: pointer;
  pointer-events: all;
}

/* UI */

h1, h2, h3, h4{
  /* 100, 200, 600, 700 */
  font-family: var(--title-font);
}


p{
  font-family: var(--p-font);
}

.ui {
  /* position: absolute; */
  width: 100%;
}

/* Title Bar/ Main Nav Bar */
.title {
  text-align:center;
  position: fixed;
  /* padding: 1rem 0; */
  margin: 0;
  background: var(--tertiary-1-color);
  width: 100%;
  height: var(--titlebar-height);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title img {
  height:var(--titlebar-height);
}

.menu-list{
  list-style-type: none;
  padding-top: 1em;
  background: var(--tertiary-1-color);
  position: absolute;
  top: 99%;
  left: 0;
  text-align: center;
  width: 100%;
  transition: opacity ease-out 500ms 150ms;
  /* color: var(--base-color); */
}


/* Center the burger icon */
.menu-bar {
  margin: auto;
}

.menu-toggle {
  font-size: 2em;
}

.menu-bar li {
  margin-right: 2rem;
  margin-bottom: 1em;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5em;
}

.menu-bar li:hover {
  color: #626466;
}

.menu-hidden {
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity ease-out 300ms, transform ease-out 200ms 400ms;
}

/* Map Layers Interface */
.map-layers{
  position: fixed;
  z-index: 1;
  bottom: 0;
  padding: 1em 1em;
}

.map-layers button {
  background-color: seagreen;
  /* background-color: tomato;  */
  font-family: var(--title-font);
}

.main-layers-icon {
  padding-right: .25em;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--tertiary-2-color)
}
/* Info Window */
.info {
  position: fixed;
  width: 100%;
  /* bottom:0px; */
  /* padding: 1rem 0px 1rem 0px; */
  z-index: 2;

  background: rgba(255,255,255, 0.8);
  /* opacity: 0.6; */
  bottom: 0;
  right: 0;
  margin-top: 4px;
  height: calc(100% - var(--titlebar-height));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  transition: transform ease-out 0.3s;
}

.info-title {
  padding: 1rem 0;
}

.info-title h1{
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1em;
}

.info-video {
  width: 75%;
  padding: 0 1em 1em 1em;
}

.info-description {
  padding: 0 1em 0 1em;
  height:calc(90% - 80px);
  overflow-y: auto;
}

/* Scroll bar settings */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Close Button */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.info-hidden {
  transform: translateY(100%);
}
/* Close Button End */
