*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --titlebar-height: 80px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* P5 Settings */
canvas {
  display: block;
}

.pin{
  overflow: hidden;
}

/* Pin Settings */
.pin span{
 color:#b4e773;
 cursor: pointer;
 font-size:50px;
 padding: 2px 0px 2px 0px;
 margin: 0px;
}

/* UI */

h1, h2, h3, h4{
  /* 100, 200, 600, 700 */
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
}

.ui {
  /* position: absolute; */
  width: 100%;
}

.title {
  text-align:center;
  position: absolute;
  padding: 1rem 0;
  margin: 0px;
  background: antiquewhite;
  width: 100%;
  height: var(--titlebar-height);
  z-index: 1;
}

.title h1 {
  font-size:4ch;
  font-weight: 200;
}

.map-layers{
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 1em 1em;
}

.map-layers button {

  background-color: seagreen;
  /* background-color: tomato;  */
}

.info {
  position: absolute;
  width: 100%;
  /* bottom:0px; */
  /* padding: 1rem 0px 1rem 0px; */
  z-index: 2;

  background: rgba(255,255,255, 0.8);
  /* opacity: 0.6; */
  bottom: 0;
  right: 0;
  margin-top: 4px;
  height: calc(100% - var(--titlebar-height));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  transition: transform ease-out 0.3s;
}

.info-title {
  padding: 1rem 0;
}

.info-title h1{
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1em;
}

.info-video {
  width: 75%;
  padding: 0 1em 1em 1em;
}

.info-description {
  padding: 0 1em 0 1em;
  height:calc(90% - 80px);
  overflow-y: auto;
}

/* Scroll bar settings */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Close Button */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.hidden {
  transform: translateY(100%);
}
/* Close Button End */
